<!-- header  -->
<%- include("./partials/header")%>
<div class="ui main text container">
    <div class="ui huge center aligned header">
        404 Page not found!
    </div>
</div>

<!-- footer  -->
<%- include("./partials/footer")%>