<!-- header  -->
<%- include("./partials/header")%>

<div class="ui main text container segment">
    <div class="ui huge header">
        Create a New Blog Post
    </div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label for="title">Post Title</label>
            <input type="text" name="blog[title]" placeholder="Enter post title">
        </div>
        <div class="field">
            <label for="image">Image URL</label>
            <input type="text" name="blog[image]" placeholder="Enter image URL">
        </div>
        <div class="field">
            <label for="body">Post Content</label>
            <textarea name="blog[body]" cols="30" rows="10" placeholder="Enter post content"></textarea>
        </div>
        
        
        <input type="submit" value="Creat a new post" class="ui inverted blue button">
    </form>
</div>

<!-- footer  -->
<%- include("./partials/footer")%>